*{
    margin: 0;
    padding: 0;
}
.heading{
    margin-top: 10px;
    margin-bottom: 0;
    
    text-align: center;
    font-size: 6rem;
}

.main{
    margin-top: 5%;
}

.qwerty{
    text-align: center;
}

.btn-div{
    text-align: center;
    display: inline-block;
    width: 10%;
    margin: 10px;
}

.btn{
    background-color:#1d2333;
    font-family: 'Nanum Gothic Coding', monospace;
    border-radius: 50%;
    border: 7px solid black;
    font-size: 4rem;
    width: 100%;
}

.btn:hover {
    background-color: #0f1525;
    border: 7px solid black;
}
